.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: -4px 4px 0px black;
  top: calc(50% - 224px);
  left: calc(50% - 300px);
  background-color: white;
  margin: 8px;
  margin-left: 50px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: -4px 1px 20px rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .title-bar {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;

    .close {
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 3px;
      left: 4px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      background: linear-gradient(
          45deg,
          transparent,
          transparent 40%,
          black 40%,
          black 60%,
          transparent 60%,
          transparent
        ),
        linear-gradient(
          135deg,
          transparent,
          transparent 40%,
          black 40%,
          black 60%,
          transparent 60%,
          transparent
        );
    }
  }

  .window-content {
    position: relative;
  }
}
